#include "mymenu.h"

MAINMENU MENU DISCARDABLE
BEGIN
 POPUP MENUTITLE_0
 BEGIN
   MENUITEM MENUTITLE_1, IDM_MENU1
   POPUP MENUTITLE_2
    BEGIN
     MENUITEM NODEMENUTITLE_0, IDM_MENU2
    END
   MENUITEM MENUTITLE_3, IDM_MENU3
   MENUITEM SEPARATOR
   MENUITEM MENUTITLE_5, IDM_MENU5
 END
END

POPMENU MENU DISCARDABLE
BEGIN
 POPUP POPMENUTITLE_0
 BEGIN
  MENUITEM MENUTITLE_1, IDM_MENU1
  POPUP MENUTITLE_2
   BEGIN
    MENUITEM NODEMENUTITLE_0, IDM_MENU2
   END
  MENUITEM MENUTITLE_3, IDM_MENU3
  MENUITEM SEPARATOR
  MENUITEM MENUTITLE_5, IDM_MENU5
 END
END